<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Samtykke"/>
        <title>Samtykke</title>
        {{#block 'samtykke/partials/style'}}
        {{/block}}
    </head>
    <body>
        <div id="header">
            <img class="navlogo" src="{{ image "Navlogo.png" }}" />
            <h1 class="title">Samtykke for: todo: sett in tittel</h1>
        </div>
        <div class="container">
            <p>
                Du er invitert i denne undersøkelsen fordi du har vist en 
                interesse for å dele noen refleksjoner med oss om NAVs 
                tjenester eller ytelser.
            </p>
            <h2>Hvem er vi, og hvem er ansvarlig for undersøkelsen?</h2>
        </div>
    </body>
</html>