<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Samtykke"/>
        <title>Samtykke</title>
        {{#block 'samtykke/partials/style'}}
        {{/block}}
    </head>
    <body>
        <div id="header">
            <img class="navlogo" src="{{ image "Navlogo.png" }}" />
            <h1 class="title">Samtykke for: <i>tittel</i></h1>
        </div>
        <div class="container">
            <p>
                Du er invitert i denne undersøkelsen fordi du har vist en 
                interesse for å dele noen refleksjoner med oss om NAVs 
                tjenester eller ytelser.
            </p>
            <h2>Hvem er vi, og hvem er ansvarlig for undersøkelsen?</h2>
            <p>
                Vi er ansatte i: <i>team/seksjon</i> til Arbeid- og velferdsdirektoratet 
                (NAV). Vi jobber med å forbedre NAVs tjenester gjennom å involvere 
                personer som bruker, eller kan komme til å bruke dem.
            </p>
            <p>
                Har du spørsmål om undersøkelsen eller ønsker å vite mer
                om eller benytte deg av <u>dine rettigheter</u> kan du 
                kontakte ansvarlig for undersøkelsen, <i>fornavn etternavn</i>
                på e-post: <i>e-post</i>
            </p>
            <p>
                Nav Arbeids- og Velferdsdirektoratet har ansvaret for behandlingen 
                av personopplysningene dine.
            </p>
            <h2>Hva må du gjøre hvis du velger å delta i denne undersøkelsen?</h2>
            <p>
                Vi ønsker at du deltar i et intervju hvor vi spør deg om dine tanker 
                og eventuelle erfaringer med <i>tema</i> hos NAV. Hva du svarer og om 
                du vil svare på spørsmålene bestemmer du selv. Formålet med undersøkelsen 
                er å <i>formål</i>.

                Samtalen gjøres på video, telefon eller fysisk. Intervjuet kan vare i 
                (opptill en time).
            </p>
            <h2>Må jeg delta i denne undersøkelsen?</h2>
            <p>
                Nei det er <b>frivillig</b> å delta. Mottar du tjenester fra NAV vil 
                ikke deltakelsen i denne undersøkelsen påvirke dine rettigheter i NAV. 
                Vi har ikke tilgang til dine saker. Andre i NAV får heller ikke vite 
                hvem som deltar i undersøkelsen, og opplysningene du gir kan ikke kobles 
                til dine saker.
            </p>
            <h2>Hvordan behandler vi personopplysningene dine?</h2>
            <p>
                Med samtykket ditt vil vi midlertidig lagre dine kontaktopplysninger 
                og notere ned de opplysningene som blir sagt under intervjuet. Vi 
                ønsker også å ta opp intervjuet med lydopptaker, for å lettere kunne 
                skrive ned det du sier. Vi vil bare bruker opplysningene om deg fra 
                intervjuet til gjennomføring av denne undersøkelsen.
            </p>
            <p>
                Personalopplysningene dine blir lagret i en kort periode. Det er
                <i>antall-involverte</i> person(er) som har tilgang til dine opplysninger. 
                Det er kun disse personene som jobber med denne undersøkelsen i NAV, 
                som har tilgang til opplysningne. De har taushetsplikt.
            </p>
            <p>
                Når intervjuet er ferdig, vil svarene anonymiseres. Anonymiseringen 
                gjennomføres så fort som mulig. Opplysningene som kan lede tilbake til 
                deg slettes så snart anonymiseringen er gjennomført og senest innen
                <i>uløper</i> De anonyme dataene vil brukes til <i>sluttresultat</i>
            </p>
            <h2>Dine rettigheter</h2>
            <ul>
                <li>
                    Det er frivillig å delta. Du kan når som helst trekke tilbake samtykke 
                    underveis i intervjuet, eller etter at det er ferdig uten å oppgi grunn.
                </li>
                <li>
                    Du har rett til å få innsyn i hvilke opplysninger vi behandler om deg, 
                    og å få utlevert en kopi av opplysningene.
                </li>
                <li>
                    Du har rett til å få rettet opplysninger om deg som er feil eller misvisende.
                </li>
                <li>
                    Du har rett til å få slettet dine personopplysninger.
                </li>
                <li>
                    Du har rett til å 
                    <a href="https://www.datatilsynet.no/om-datatilsynet/kontakt-oss/klage-til-datatilsynet/">
                        sende klage til Datatilsynet
                    </a> om behandlingen av dine personopplysninger.
                </li>
            </ul>
            <p class="no_spacing">Mer om personvern:</p>
            <p class="no_spacing"><a href="https://www.nav.no/no/nav-og-samfunn/om-nav/personvern-i-arbeids-og-velferdsetaten">
                NAVs personvernerklæring
            </a></p>
            <p class="no_spacing">
            <a href="https://www.nav.no/no/nav-og-samfunn/om-nav/personvern-i-arbeids-og-velferdsetaten/personvernombudet-i-nav">
                Kontakt personvernombudet
            </a>
            </p>
            <h2>Du takker ja til</h2>
            <p class="no_spacing">Kryss av boksene du føler deg komfertabel med</p>
            <div class="checkbox_container">
                <div class="square"></div>
                <p class="checkbox_label">Ja, dere kan ta lydopptak</p>
            </div>
            <h2 class="force">Ditt navn</h2>
            <div class="rectangle"></div>
            <h2>Din e-post</h2>
            <div class="rectangle"></div>
            <h2>Samtykke</h2>
            <p class="no_spacing">Jeg ønsker å delta i: <i>tittel</i>, og har lest og forstått samtykke</p>
            <div class="checkbox_container">
                <div class="square"></div>
                <p class="checkbox_label">Ja, jeg samtykker</p>
            </div>
        </div>
    </body>
</html>